<!-- Default back button -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Vídeos
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Default Searchbar -->
<ion-searchbar style="margin-top:-180px; margin-bottom: 10%;"></ion-searchbar>
<iframe style="padding-bottom: 8%; padding-left: 2%;" src="https://www.youtube.com/embed/zQOfvWiT-cs" height="30%" width=98% frameborder="0"></iframe>
<iframe style="padding-bottom: 8%; padding-left: 2%;" src="https://www.youtube.com/embed/omhkiOuUbuA" height="30%" width=98% frameborder="0"></iframe>
<iframe style="padding-bottom: 8%; padding-left: 2%;" src="https://www.youtube.com/embed/4-tTeItSQC4" height="30%" width=98% frameborder="0"></iframe>
<iframe style="padding-bottom: 8%; padding-left: 2%;" src="https://www.youtube.com/embed/HVP5N0ipB4A" height="30%" width=98% frameborder="0"></iframe>
<iframe style="padding-bottom: 8%; padding-left: 2%;" src="https://www.youtube.com/embed/2XxImXfqmeA" height="30%" width=98% frameborder="0"></iframe>
</ion-content>
