<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Ubícame
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text style="margin-bottom:2%; text-align:center" color="primary" font-weight="500">
    <h1>¿Necesitas Orientación?</h1>
  </ion-text>
  <ion-text style="margin-bottom:10%; text-align:center" color="dark">
    <h2>Contacta con un Orientador</h2>
  </ion-text>
  <span>
    <ion-button style="margin-top:10%;" expand="full" color="light" href="skype:live:.cid.ffee3359a85fcf31">  
      <ion-icon name="videocam" color="primary" style="margin-right:10px;"></ion-icon>
      <ion-text style="color:rgb(0, 0, 0);">Videollamada</ion-text></ion-button>
    <ion-button expand="full" color="light" href="tel:+34657747295">
      <ion-icon name="call" color="primary" style="margin-right:10px;"></ion-icon>
      <ion-text style="color:rgb(0, 0, 0);">Llamada</ion-text></ion-button>
  </span>
</ion-content>
