<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Test
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text style="margin-bottom:10%; text-align:center" color="primary" font-weight="500">
    <h1 style="margin-bottom:10%;">Test de Orientación Vocacional</h1>
  </ion-text>
  <ion-text style="margin-bottom:10%; text-align:center" color="dark">
    <h2 style="margin-bottom:10%;">¿Qué resultados voy a tener?</h2>
  </ion-text>
  <ion-text style="margin-bottom:2%; text-align:center" color="dark">
    <h3 style="margin-bottom:10%;">De acuerdo a tus respuestas obtendrás un informe con un perfil aproximado de tus intereses, habilidades destacadas y las dos áreas ocupacionales que más se relacionan con esas características. Además te damos información de los estudios y los sitios donde puedes matricularte (universidad, FP, cursos...), junto a sus valoraciones.</h3>
  </ion-text>
  <ion-button style="padding-left: 0%; width: 97%; height: 15%;" href="https://0dmjbs5agb2.typeform.com/to/GusXlU8v">Realizar Test</ion-button>
</ion-content>
