<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Ana Fernández Calatrava
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle style="border-radius: 50%; text-align: center;">
        <ion-img style="border-radius: 50%; width: 60%; height: 60%; padding-left: 40%;" src="https://media-exp1.licdn.com/dms/image/C5603AQHwh17sEW2PCg/profile-displayphoto-shrink_200_200/0/1582122103908?e=1657152000&v=beta&t=Rfe0kqO1Mw_gSxT6WufAPwTEw8wDpos4SoEvynIOPM8"></ion-img>
        <br>
        @anafdzz
      </ion-card-subtitle>
      <ion-card-title style="font-size:20px; text-align: center;">Ana Fernández Calatrava</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="font-size:15px; text-align: left;">
      <strong style="font-weight:800;">Estudios:</strong> 
      <ul>
        <li>Marketing y ADE</li>
        <li>Master en Marketing Digital</li>
      </ul>
      <br>
      <strong style="font-weight:800;">Cargo:</strong> <ul>
        <li>Especialista en inbound Marketing en BeesMarktin</li>
      </ul>
      <br>
      <strong style="font-weight:800;">CV:</strong>
      <ul>
        <li>Redactor en El País</li>
        <li>Copywritter en Grupo Planeta</li>
      </ul>
    </ion-card-content>
    <ion-button style="margin-left:38%" href="tel:+34657747295">Reserva</ion-button>
  </ion-card>
</ion-content>
